/* OVERALL ELEMENTS */

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #e7f1f1;
    font-family: "Poppins", sans-serif;
  }
  
  .hidden {
    display: none;
  }
  
  /* MAIN DISPLAY  */
  
  .main-home {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    /* justify-content: center;
    align-items: center; */
  }
  
  .boxMain {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    position: relative;
  }
  
  .boxesDisplayMain {
    display: flex;
    gap: 10px;
  }
  
  .displayMain {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .mainTitle {
    font-size: 50px;
    font-weight: 800;
  }
  
  .boxCode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .box1 {
    background-color: #ea9999;
  }
  
  .box2 {
    background-color: #facb9c;
  }
  
  .box3 {
    background-color: #ffe59a;
  }
  
  .box4 {
    background-color: #b6d7a8;
  }
  
  .box5 {
    background-color: #a4c4ca;
  }
  
  .buttons {
    display: flex;
    gap: 50px;
  }
  .btnMain {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 50px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    font-weight: 300;
  }
  
  .btnMain:hover {
    cursor: pointer;
  }
  
  .locked {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 328px;
  }
  
  .unlocked {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 328px;
  }
  .locked1 {
    position: absolute;
    left: 132px;
  }
  
  .unlocked1 {
    position: absolute;
    left: 132px;
  }
  
  .locked2 {
    position: absolute;
    left: 248px;
  }
  
  .unlocked2 {
    position: absolute;
    left: 248px;
  }
  
  .locked3 {
    position: absolute;
    left: 363px;
  }
  
  .unlocked3 {
    position: absolute;
    left: 363px;
  }
  
  .locked4 {
    position: absolute;
    left: 480px;
  }
  
  .unlocked4 {
    position: absolute;
    left: 480px;
  }
  
  .locked5 {
    position: absolute;
    left: 595px;
  }
  
  .unlocked5 {
    position: absolute;
    left: 595px;
  }
  
  /* SEPERATION
   LINE  */
  .separator-line {
    height: 500px;
    width: 3px;
    background-color: black;
  }
  
  /* SAVED PALLETS  */
  .savedPalettes {
    display: flex;
  }
  
  .savedPalettesTitle {
    font-weight: 600;
    font-size: 30px;
  }
  
  .savedPalettes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .singlePallet {
    display: flex;
    gap: 5px;
  }
  .singleP {
    height: 40px;
    width: 40px;
    border: 2px solid black;
  }